{% load i18n %}
{% load static %}
<div id="general-info">
    <div>
        <h2>{% trans "User profile" %}</h2>
        <div class="user-info panel list-item">
            <span>{{ user_object.first_name }} {{ user_object.last_name }}</span>
            <span>{{ user_object.email }}</span>
            <div>
                {% trans "Staff account" as t_staff_account %}
                {% trans "Allows user to grant permissions to units" as t_allow_user_grant_permissions_to_units %}
                <div class="custom-checkbox checkbox-inline generic-checkbox">
                    <input class="custom-checkbox"
                           id="is_staff"
                           type="checkbox"
                           name="is_staff"
                           label="{{ t_staff_account }}"
                           help_text="{{ t_allow_user_grant_permissions_to_units }}"
                           {% if user_object.is_staff %}checked{% endif %}
                           readonly
                           disabled>
                    <label for="is_staff">{{ t_staff_account }}</label>
                    <p>{{ t_allow_user_grant_permissions_to_units }}</p>
                </div>
            </div>
        </div>
    </div>
    <div>{% include "respa_admin/resources/form/_permissions.html" with formset=unit_authorization_formset %}</div>
</div>
{% block js_extra %}
    <script type="text/javascript"
            src="{% static 'respa_admin/userForm-bundle.js' %}"></script>
{% endblock js_extra %}
